h1{
	font-size: 25pt;
}
html,body{
	max-width: 100%;
	height: 100%;
}
h4#cat{
	color: #FF9900FF;
	text-decoration: underline;
}
h3{
	padding-left: 0;
}
h3#cat{
	color: #FF9900FF;
	text-decoration: underline;
}
h6{
	color: #ffffff;
	font-weight: bold;
}
a{
	text-decoration: none;
	color: #000000;
}
a:hover{
	text-decoration: none;
	color: #000000;
}

h2#cat{
	color: #FF9900FF;
	text-decoration: underline;
}
p{
	font-family: Rubik;
	font-style: normal;
	font-size: 15pt;
	font-weight: bold;
}
span{
	font-weight: bold;
	color: #9F9A9AFF;
	font-size: 13pt;
}
time{
	font-weight: bold;
	color: #9F9A9AFF;
	font-size: 13pt;
}
img{
	margin-bottom: 1em;
	width: auto;
	height: auto;
}
button{
	background-color: #373737FF;
	border:1px solid;
	border-radius: 0 5px 5px 0;
	border-color: #373737FF;
	width: 100%;
	height: 3em;
}
input{
	border:1px solid; 
	border-color: #ffffff;
	border-radius: 5px 0 0 5px;
	width:100%;
	height: 3em;
}
button i {
	color: #ffffff;
}
.container1{
  width: 0px;
  height: 50px;
  background: #fff;
  text-align: center;
  line-height: 45px;
  padding-right: 50px;
  transition: all 0.5s ease;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.container1.active{
  width: 250px;
  padding-left: 25px;
  transition: all 0.5s ease;
}
.container1 .fa{
  color: #000;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 22px;
  cursor: pointer;
}
.input{
  border: 0px;
  border-bottom: 2px solid #fff;
  background: transparent;
  width: 0%;
  padding: 5px 0;
  outline: none;
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease;
}
.input.active{
  width: 98%;
  padding-left: 5px;
  transition: all 0.5s 0.8s ease;
}
.navigate {
	color: #fff;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    left: -320px;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    background: #000;
    z-index: 2000;
}

.nav-toggle {
    position: absolute;
    left: 320px;
    top: 1em;
    padding: 0.5em;
    background: inherit;
    color: #dadada;
    cursor: pointer;
    font-size: 1.2em;
    line-height: 1;
    z-index: 2001;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}

.nav-toggle:hover {
    color: #f4f4f4;
}
.social a{
 	text-align: center;
  	width: 50%;
    background:#fff;
    border:1px solid #ccc;
    border-radius:46px;
    padding:6px;
    color:#000;
}
.social a i{
	width: 1.3em;
}
.social a:hover{
	background-color: #0000ff;
}
.pdb{
	padding-bottom: 2em;
}
.pdt{
	padding-top: 1em;
}
.pdt5{
	padding-top: 5em;
}
.pdb0{
	padding: 0;
}
.pdb1{
	padding: 1em;
}
.pdl0{
	padding-left: 0;
}
.pdc{
	padding-top: 5px;
}
.pdl{
	padding-left: 1em;
}
.m4{
	margin-bottom: 2em;
}
.mb1{
	margin-bottom: 1em;
}
.m2{
	margin: 2em;
}
.mx-1{
	margin-left: 1em;
	margin-right: 1em;
}
.pxa{
	padding: 0;
	padding-left: auto;
	padding-right: auto;
}
.my-2{
	margin-top: 2em;
	margin-bottom: 2em;
}
.mt0{
	margin-top: 0;
}
.mt3{
	margin-top: 3em;
}
.ml1{
	margin-left: 1em;
}
.mpx300{
	margin-bottom: 300px;
}
.s25{
	width: 100%;
	height: 100%;
}

[id='nav-toggle'] {
    position: absolute;
    display: none;
}

[id='nav-toggle']:checked ~ .navigate > .nav-toggle {
    left: auto;
    right: 2px;
    top: 0;
}

[id='nav-toggle']:checked ~ .navigate {
    left: 0;
    box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
}

[id='nav-toggle']:checked ~ .navigate > .nav-toggle:after {
    content: '\2715';
}

#useless{
	padding-bottom: 3em;
}
#input{
	width: 20%;
	border: none;
	border-bottom: 2px solid #000000; 
	border-radius: 0;
}
#input:focus{
	outline: none;
}
#input1{
	width: 80%;
	height: 2em;
	border: none;
	border-bottom: 2px solid #000000; 
	border-radius: 0;
}
#input1:focus{
	outline: none;
}
#cntn{
	height: auto;
	width: 90%;
}
#block:hover{
	border: 1px solid #000;
}
#nav-item{
	color: #fff;
	font-weight: bold;
	font-size: 15pt;
}
#nav-item:hover{
	border-bottom: 1px solid #fff;
}
#footer{
	background-color: #212121FF;
	color: #ffffff;
	margin-top: 3em;
}
#clogo{
	padding-left: 0; 
}

#mail{
	padding: 2em 20px;
}
#mail1{
	padding: 2em 0 2em 0;
}
#logo{
	width: 100%;
	height: 62px;
}
#rectangular1{
	padding: 2px;
	border: 3px solid #000000;
	margin-bottom: 0.5em;
	width: 7em;
}
#rectangular2{
	padding: 2px;
	border: 3px solid #000000;
	margin-bottom: 0.5em;
	width: 8em;
}
#rectangular3{
	padding: 2px;
	border: 3px solid #000000;
	margin-bottom: 0.5em;
	width: 9em;
}
@media (min-width: 769px){
	h1{
		font-size: 22pt;
	}
	h2{
		font-size: 20pt;
	}
	h4{
		font-size: 18pt;
	}
	h3{
		font-size: 16pt;
	}
	time{
		font-size: 10pt;
	}
	.btn{
		display: none;
	}
	#btn{
		display: none;
	}
}
@media (min-width: 576px) and (max-width: 769px){
	h1{
		font-size: 20pt;
	}
	h2{
		font-size: 20pt;
	}
	h4{
		font-size: 16pt;
	}
	#nav-item{
		font-size: 13pt;
	}
	h3{
		font-size: 14pt;
	}
	time{
		font-size: 10pt;
	}
	.btn{ 
		height: 62px;
	}
	#btn{
		display: none;
	}
}
@media (max-width: 576px){
	h1{
		font-size: 20pt;
	}
	h2{
		font-size: 20pt;
	}
	h4{
		font-size: 14pt;
	}
	h3{
		font-size: 12pt;
		font-weight: bolder;
	}
	time{
		font-size: 10pt;
	}
	#btn{
		display: none;
	}
	.list-inline{
		display: block;
	}
	.btn{
		height: 62px;

	}
	#mail1{
	padding: 0 0 2em 0;
	}
}
@media (max-width: 488px){
	.navbar{
		text-align: center;
	}
	#mail1{
	padding: 00 2em 0;
	}
}
@media (max-width: 376px){
	#third{
		display: none;
	}
	#mail1{
	padding: 0 0 2em 0;
	}
}
.mail{
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border:1px solid; 
  border-color: #000;
  border-radius: 5px 0 0 5px;
  outline: none;
}
button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border-radius: 0 5px 5px 0;
}
